<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ObjectsAtPointServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://gisservices.kd.mgis.megafon.ru/services/ObjectsAtPointService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ObjectsAtPointServiceSoap"
                contract="ObjectServiceReference.ObjectsAtPointServiceSoap"
                name="ObjectsAtPointServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
