@using Myembro.Properties
<style>
    .taglist-field { width: 50%;
        display: inline;
    }
</style>
                @Html.TextBox("TagList" , "tagme",new {@id = "tagList-textbox", @class = "taglist-field" })
<label> @Resources.TagsFieldHintText</label>
                @Html.ValidationMessage("TagList", "*")

