@using JelleDruyts.Web.Mvc
@using Mayando.Web.Infrastructure
@model IEnumerable<Mayando.Web.ViewModels.MenuViewModel>
<div id="menucontainer">
    <ul id="menu">
        @foreach (var menu in Model)
        {
            <li class="btn @{ Html.RenderPartial("Selected", menu.Selected); }">
                @Html.Raw(Html.Link(menu.Url, menu.Title, menu.OpenInNewWindow, menu.ToolTip))
            </li>
        } 
    </ul>
</div>

