@model Mayando.Web.ViewModels.EmbroThumbnailViewModel
@using Mayando.Web.Extensions
@using Mayando.Web.Infrastructure
@{ Layout = null;}
<div id="@Model.Id" class="btn">      
    @Ajax.ImageActionLink(Model.PngBase64Image,"Index","Embro",new {@current = Model.Id}, new AjaxOptions
                 {
                     UpdateTargetId = "detailspage",
                     InsertionMode = InsertionMode.Replace,
                     HttpMethod                   = "POST",
                      Url = Url.Action("DetailsById", "Embro", new { @id = Model.Id })
                      
                 })   
</div>


        
                                     
                         