@model Myembro.Infrastructure.EmbroNavigationContext
@using Myembro.Extensions
@using Myembro.Infrastructure

@{ Layout = null;}
@if (null != Model.Embros && Model.TotalItemCount > 0)
{     	    
    <div class="navigation-filmstrip slider">
        @foreach (var embro in Model.Embros)
        {
            embro.PageNo = Model.PageNumber;
            embro.PageSize = Model.PageSize;                                  
            <ins>
                @{ Html.RenderPartial(PartialViewName.EmbroThumbnail, embro); }
            </ins>
        }

    </div>
}

