@model Mayando.Web.Infrastructure.EmbroNavigationContext
@using Mayando.Web.Extensions
@using Mayando.Web.Infrastructure

@{ Layout = null;}
@if (null != Model.Embros && Model.TotalItemCount > 0)
{     	    
    <div class="navigation-filmstrip slider">
        @foreach (var embro in Model.Embros)
        {                                       
            <ins>
                @{ Html.RenderPartial(PartialViewName.EmbroThumbnail, embro); }
            </ins>
        }

    </div>
}

