<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="configConsoleListener"    type="System.Diagnostics.ConsoleTraceListener" />
        <add name="FileTrace" type="System.Diagnostics.TextWriterTraceListener" initializeData="SewSegInfo0.txt"></add>
        <!--add name="DBTrace" type="CommonLib.System.Diagnostic.DatabaseTraceListener, CommonLib"
					initializeData="Data Source=(local);Initial Catalog=GISAPITrace;Persist Security Info=True;User ID=DataTransferUser;Password=qwerty12345" />-->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>