@using Myembro.Properties
@model Myembro.ViewModels.QrcodeFormViewModel

@{ Layout = "~/Views/Shared/SiteLayout.cshtml"; }


@section TitleContent{@Resources.QRCodeEmbroGenTitle}

@section MainContent{
    <div class="form-view" style="min-width: 600px">
        <span class="form-qrcode">
            @{ Html.RenderPartial("QrcodeForm", Model); }
        </span>
    </div>}


