@using Mayando.Web.Infrastructure
@using Mayando.Web.Extensions
@model System.String 
<div  z-index="-1000">
 <svg
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink" 
   width="25cm"
   height="25cm"
   viewBox="0 0 600 600"
   version="1.1"
   id="svg3032"
  
>

  <defs
     id="defs3038">

        <filter
            id="MyFilter"
            filterUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="500"
            height="500">
            <feGaussianBlur
                in="SourceAlpha"
                stdDeviation="4"
                result="blur"
                id="feGaussianBlur3041" />
            <feOffset
                in="blur"
                dx="4"
                dy="4"
                result="offsetBlur"
                id="feOffset3043" />
            <feSpecularLighting
                in="blur"
                surfaceScale="5"
                specularConstant=".75"
                specularExponent="20"
                lighting-color="#bbbbbb"
                result="specOut"
                id="feSpecularLighting3045">
                <fePointLight
                    x="-5000"
                    y="-10000"
                    z="20000"
                    id="fePointLight3047" />
            </feSpecularLighting>
            <feComposite
                in="specOut"
                in2="SourceAlpha"
                operator="in"
                result="specOut"
                id="feComposite3049" />
            <feComposite
                in="SourceGraphic"
                in2="specOut"
                operator="arithmetic"
                k1="0"
                k2="1"
                k3="1"
                k4="0"
                result="litPaint"
                id="feComposite3051" />
            <feMerge
                id="feMerge3053">
                <feMergeNode
                    in="offsetBlur"
                    id="feMergeNode3055" />
                <feMergeNode
                    in="litPaint"
                    id="feMergeNode3057" />
            </feMerge>
        </filter>
   <filter
       id="filter3867"
  
       height="1.5"
       y="-0.25"
       width="1.5"
       x="-0.25"
       color-interpolation-filters="sRGB">
       <feGaussianBlur
         id="feGaussianBlur3869"
         stdDeviation="4"
         result="result8" />
      <feTurbulence
         id="feTurbulence3871"
         seed="50"
         result="result7"
         type="turbulence"
         numOctaves="7"
         baseFrequency="0.01 0.01" />
      <feColorMatrix
         id="feColorMatrix3873"
         result="result5"
         values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1.4 0 " />
      <feComposite
         id="feComposite3875"
         in2="result8"
         result="result6"
         in="result5"
         operator="in" />
      <feDisplacementMap
         id="feDisplacementMap3877"
         in2="result6"
         in="result5"
         xChannelSelector="A"
         yChannelSelector="A"
         scale="100"
         result="result4" />
      <feFlood
         id="feFlood3879"
         in="result4"
         flood-opacity="1"
         flood-color="rgb(224,224,224)"
         result="result9" />
      <feComposite
         id="feComposite3881"
         in2="result4"
         result="result2"
         operator="atop" />
      <feComposite
         id="feComposite3883"
         in2="SourceGraphic"
         in="result2"
         operator="atop"
         result="result9" />
      <feBlend
         id="feBlend3885"
         in2="result9"
         result="fbSourceGraphic"
         mode="darken" />
      <feGaussianBlur
         id="feGaussianBlur3887"
         stdDeviation="5"
         in="fbSourceGraphic"
         result="result0" />
      <feSpecularLighting
         id="feSpecularLighting3889"
         in="result0"
         result="result1"
         lighting-color="rgb(255,255,255)"
         surfaceScale="8"
         specularConstant="0.8"
         specularExponent="30">
        <feDistantLight
           id="feDistantLight3891"
           elevation="55"
           azimuth="235" />
      </feSpecularLighting>
      <feComposite
         id="feComposite3893"
         in2="fbSourceGraphic"
         in="result1"
         result="result2"
         operator="in" />
      <feComposite
         id="feComposite3895"
         in2="result2"
         in="fbSourceGraphic"
         result="result4"
         operator="arithmetic"
         k2="1"
         k3="1" />
    </filter>   
  </defs>
  <g  filter="url(#MyFilter)">
  <rect
     fill="none"
     fill-rule="evenodd"
      stroke-width="7"
     style="stroke:rgb(100,100,100);stroke-linecap:butt;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none;"
     id="rect3079"
     width="275.00851"
     height="267.5253"
     x="15"
     y="30"
     />
  </g> 
</svg>   
</div>          
<span>Just transfer downloaded file into your embroidery machine and sew it!</span>
<div class ="qr" style="position: absolute; top: 98px; left: 40px;">

    <img id="stitched-qrcode-png" src="@Url.Action("GetQrPng", new {@text = Model, @width = 400, @height = 400})" alt="Qr-Code Image"/>
     
</div>
@if (!string.IsNullOrWhiteSpace(Model))
{
    <div  style="position: absolute; top: 600px; left: 320px;">
        @Html.ActionLink("Download", "DownloadQrCodeDstFile", new {@text = Model}, new {@class = "btn"}) 
    </div>
}

 
  
   

