@using Myembro.Properties
@model Myembro.ViewModels.EmbroConfirmDeleteViewModel

@{
    Layout = null;
}
 <h3>Delete </h3>
<p>@Resources.EmbroDeleteConfirmText</p>
@Html.ActionLink(@Resources.EmbroDeleteButtonText,"DeleteConfirmed", new {id = Model.ID, returnUrl = Model.ReturnUrl })
