@using Myembro.Properties
@model Myembro.ViewModels.EmbroConfirmDeleteViewModel

@{
    Layout = null;
}

<p>@Resources.EmbroDeleteConfirmText</p>
@Html.ActionLink(Resources.ButtonYesRemoveText,"DeleteConfirmed", new {id = Model.ID, returnUrl = Model.ReturnUrl },new {@class="btn btn-primary"})
