@using Myembro.Extensions
@using Myembro.Infrastructure
@using Myembro.Properties
@model Myembro.Models.EmbroideryItem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

@section TitleContent{
    @if (Model != null)
    {
        @Html.Encode(Model.Title)
    }
}

@section MainContent
{
    <h3>@string.Format("{0} {1}",Resources.DeletionHeader, Model.DisplayTitle)</h3>
    @{Html.RenderPartial(PartialViewName.ConfirmDelete, Model.Id); }
}