@using System.Web.Mvc.Html
@using Mayando.Web.Extensions
@using Mayando.Web.Infrastructure
@using Mayando.Web.Properties
@model Mayando.Web.ViewModels.EmbroDetailsViewModel

@{Layout = null;}

<h2>@{
        var embro = Model.Embro;
        if (embro != null && embro.DisplayTitle != null)
        {
            Html.Encode(Model.Embro.DisplayTitle);
        }
    }</
        h2>


<div id="embrocontainer">
    @{Html.RenderPartial(PartialViewName.DetailsDesign, Model); }
    <div>
        @Html.Raw(Html.ActionLink(Resources.EmbroDownloadButtonText, ActionName.Download, "embro", new {@embroid = Model.Id},new{@class = "btn"}))
    </div>

    @*@if (!Model.HidePhotoText) 
    @*@
    @{ 
        Html.RenderPartial(PartialViewName.DetailsText, Model); 
    } 
</div>
<div id="commentscontainer">
    @{ Html.RenderAction("Index", "Comment", new {count = 5, page = 1, embroID = Model.Id}); }
    @* @if (!Model.HidePhotoComments)?*@ 
  @*  @{ 
        <div id="commentscontainer">
                
            @{Html.RenderPartial(PartialViewName.DetailsCommentList, Model); }

              @using (Html.BeginCommentsEditForm())
                {
                    Html.RenderPartial(PartialViewName.DetailsCommentForm, Model);
                }
            
        </div>
    } *@


</div>