@using Myembro.Extensions
@using Myembro.Infrastructure
@using Myembro.Properties
@model Myembro.ViewModels.UploadFormViewModel

@{
   
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section TitleContent{

    @Resources.UploadTitleText

}

@section MainContent
{
    <div id="uploadform-content">
        @{ Html.RenderPartial("UploadForm", Model); }
        </div>
}

