<?xml version="1.0"?>
<connectionStrings>
  <add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Mayando.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="MayandoContext" connectionString="metadata=res://*/Models.MayandoModel.csdl|res://*/Models.MayandoModel.ssdl|res://*/Models.MayandoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Mayando.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
