<?xml version="1.0"?>

<appSettings>
  <!--
    For a shared database hosting environment where all tables are prefixed with a certain identifier,
    enter the table prefix here and it will automatically be applied.
    -->
  <add key="TablePrefix" value="" />
  <!--
    If you are hosting your site in an environment where the database is on a separate server and you
    REALLY can't use distributed transactions, enter true. Note that this can cause data loss and/or
    corruption so only change this if you accept the risks associated with disabling transactions.
    -->
  <add key="DisableTransactions" value="" />
  <!--
    For a demo site where all visitors can see everything as an administrator would
    (but cannot change any settings), enter true.
    -->
  <add key="DemoMode" value="" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key ="connectionString" value="Data Source=DENIS;Initial Catalog=EMBRO;Integrated Security=True;User ID=ma;Password=P73kNMu;"/>
  <add key="SmtpServer" value="smtp.yandex.ru"/>
</appSettings>
