<?xml version="1.0"?>
<connectionStrings>
  <add name="ApplicationServices" connectionString="Data Source=DENIS;Initial Catalog=EMBRO;Integrated Security=True;User ID=ma;Password=P73kNMu" providerName="System.Data.SqlClient" />
  <add name="MayandoContext" connectionString="metadata=res://*/Models.MayandoModel.csdl|res://*/Models.MayandoModel.ssdl|res://*/Models.MayandoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DENIS;Initial Catalog=EMBRO;Integrated Security=True;User ID=ma;Password=P73kNMu&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
