
@using Myembro.Properties
@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

@section TitleContent{@Html.Encode(Resources.ContactTitle)}



@section MainContent{
  <div id="contactindexpage">
  
    @{ Html.RenderPartial("ContactForm", null); }
</div>  
}
