
@using Myembro.Properties
@{
    ViewBag.Title = Resources.ContactTitle;
}

@section TitleContent{@Html.Encode(ViewBag.Title)}



@section MainContent{

  <div id="contactindexpage">
      <h3>@Html.Encode(ViewBag.Title) </h3>
        <h2>@Resources.ContactContactMe</h2>
    @{ Html.RenderPartial("ContactForm", null); }
</div>  
}
