
@using Myembro.Properties
@{
    Layout = null;
    ViewBag.Title = Resources.ContactTitle;
}



  <div id="contactindexpage">
      <h3>@Html.Encode(ViewBag.Title) </h3>
        <h2>@Resources.ContactContactMe</h2>
    @{ Html.RenderPartial("ContactForm", null); }
</div>  
