@using Myembro.Infrastructure
@using Myembro.Models
@using Myembro.Properties
@model Myembro.Models.SiteData
@*@{ Layout = "~/Views/Account/SiteLayout.cshtml";}*@

@section TitleContent
{
    @Html.Encode(Resources.LogOnAccountInformation)

}
@section MainContent
{
  <div id="accountindexpage">
    <h3>@Html.Encode(Resources.AccountLogOn) </h3>
    @{Html.RenderPartial("LogOn", new  LoginViewModel()); }
</div>  

}
