@using Myembro.Infrastructure
@using Myembro.Properties
@model Myembro.Models.SiteData


@section TitleContent
{
    @Html.Encode(Resources.LogOnAccountInformation)

}
@section MainContent
{
  <div id="accountindexpage">
    <h3>@Html.Encode(Resources.AccountLogOn) </h3>
    @{Html.RenderPartial("LogOn", new  Myembro.Models.LogOnModel()); }
</div>  

}
